/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define SYM 1
#define UPPER 2
#define MEDIA 3
#define KILL 4

#define SL_MO(layer) &sl_mo layer layer //tap -> sticky layer, hold -> momentary layer

&sl {
    release-after-ms = <3000>;
    };

/ {

    macros {
        //切换设备1
        tobt0: zed_em_tobt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 0>,<&macro_tap &kp ENTER &kp SPACE &kp N0 &kp N9 &kp N1 &kp N1 &kp ENTER>,<&macro_tap &to MEDIA>;
        };

        //切换设备2
        tobt1: zed_em_tobt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 1>,<&macro_tap &to UPPER>;
        }; 

        //浏览器返回
        winieback: zed_em_winieback {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>,<&macro_tap &kp LEFT>,<&macro_release &kp LALT>;
        };
        //浏览器向前
        winieforward: zed_em_winieforward {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>,<&macro_tap &kp RIGHT>,<&macro_release &kp LALT>;
        };

        //关闭app1
        tocloseapp1: zed_em_closeapp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp E>,<&macro_release &kp F4>;
        }; 
        //关闭app2
        tocloseapp2: zed_em_closeapp2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp R>,<&macro_release &kp F4>;
        }; 
        //关闭app3
        tocloseapp3: zed_em_closeapp3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp D>,<&macro_release &kp F4>;
        }; 
        //关闭app4
        tocloseapp4: zed_em_closeapp4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp F>,<&macro_release &kp F4>;
        }; 

        //打开appT
        toopenappT: zed_em_toopenappT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp T>,<&macro_release &kp F3>;
        }; 
        //打开appY
        toopenappY: zed_em_toopenappY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp Y>,<&macro_release &kp F3>;
        };
        //打开appU
        toopenappU: zed_em_toopenappU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp U>,<&macro_release &kp F3>;
        };
        //打开appX
        toopenappX: zed_em_toopenappX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp X>,<&macro_release &kp F3>;
        };
        //打开appZ
        toopenappZ: zed_em_toopenappZ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp Z>,<&macro_release &kp F3>;
        };
        //打开appC
        toopenappC: zed_em_toopenappC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp C>,<&macro_release &kp F3>;
        };
        //打开appG
        toopenappG: zed_em_toopenappG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp G>,<&macro_release &kp F3>;
        };
        //打开appV
        toopenappV: zed_em_toopenappV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp V>,<&macro_release &kp F3>;
        };
        //打开appH
        toopenappH: zed_em_toopenappH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp H>,<&macro_release &kp F3>;
        };
        //打开appB
        toopenappB: zed_em_toopenappB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp B>,<&macro_release &kp F3>;
        };
        //打开appJ
        toopenappJ: zed_em_toopenappJ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp J>,<&macro_release &kp F3>;
        };
        //打开appN
        toopenappN: zed_em_toopenappN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp N>,<&macro_release &kp F3>;
        };
        //打开appI
        toopenappI: zed_em_toopenappI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp I>,<&macro_release &kp F3>;
        };
        //打开appM
        toopenappM: zed_em_toopenappM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp M>,<&macro_release &kp F3>;
        };
        //打开appP
        toopenappP: zed_em_toopenappP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp P>,<&macro_release &kp F3>;
        };
        //打开appO
        toopenappO: zed_em_toopenappO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp O>,<&macro_release &kp F3>;
        };
        //打开appK
        toopenappK: zed_em_toopenappK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp K>,<&macro_release &kp F3>;
        };
        //打开appL
        toopenappL: zed_em_toopenappL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp L>,<&macro_release &kp F3>;
        };
        //打开appE
        toopenappE: zed_em_toopenappE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp E>,<&macro_release &kp F3>;
        };
        //打开appR
        toopenappR: zed_em_toopenappR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp R>,<&macro_release &kp F3>;
        };
        //打开appD
        toopenappD: zed_em_toopenappD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp D>,<&macro_release &kp F3>;
        };
        //打开appF
        toopenappF: zed_em_toopenappF {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp F>,<&macro_release &kp F3>;
        };
        //点击文字输入框
        totapinputbar: zed_em_totapinputbar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp ENTER>,<&macro_release &kp F3>;
        };
        //点击发送按钮
        totapsentbutton: zed_em_totapsentbutton {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp ENTER>,<&macro_release &kp F4>;
        };
        //向上滑动
        toscrollup: zed_em_toscrollup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp SPACE>,<&macro_release &kp F3>;
        };
        //向下滑动
        toscrolldown: zed_em_toscrolldown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp SPACE>,<&macro_release &kp F4>;
        };
        //向左滑动
        toscrollleft: zed_em_toscrollleft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F1>,<&macro_tap &kp SPACE>,<&macro_release &kp F1>;
        };
        //向右滑动
        toscrollright: zed_em_toscrollright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F2>,<&macro_tap &kp SPACE>,<&macro_release &kp F2>;
        };
        //点击第一栏
        totapfirst: zed_em_totapfirst {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F8>,<&macro_tap &kp SPACE>,<&macro_release &kp F8>;
        };
        //点击第二栏
        totapsecond: zed_em_totapsecond {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F10>,<&macro_tap &kp SPACE>,<&macro_release &kp F10>;
        };
        //点击第三栏
        totapthird: zed_em_totapthird {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F9>,<&macro_tap &kp SPACE>,<&macro_release &kp F9>;
        };
        //点击第四栏
        totapforth: zed_em_totapforth {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F11>,<&macro_tap &kp SPACE>,<&macro_release &kp F11>;
        };
        //读微信最新的信息
        toreadwxmsg: zed_em_toreadwxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F5>,<&macro_tap &kp SPACE>,<&macro_release &kp F5>;
        };
        //读微信群跟多的信息
        toreadmorewxmsg: zed_em_toreadmorewxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F6>,<&macro_tap &kp SPACE>,<&macro_release &kp F6>;
        };
        //下拉控制栏
        torolltoolpanel: zed_em_torolltoolpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F7>,<&macro_tap &kp SPACE>,<&macro_release &kp F7>;
        };
        //下拉通知栏
        torollmsgpanel: zed_em_torollmsgpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F12>,<&macro_tap &kp SPACE>,<&macro_release &kp F12>;
        };

        toappswitchandkill: zed_em_toappswitchandkill {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ESC &to KILL>;
        };
        backtomedia: zed_em_backtomedia {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &mkp LCLK &to MEDIA>;
        };
        };

   //切换蓝牙设备
    behaviors {
        btswitch: tap_dance_btswitch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&tobt0>, <&tobt1>;
        };
    };

    behaviors {
        tdc_to_SYM: td_comma_to_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp SEMI>, <&to SYM>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <400>;
            bindings = <&kp &kp>;
        };
    };

   //切换down或右
    behaviors {
        gswitch1: hold_tap_gswitch1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&toscrolldown>, <&toscrollright>;
        };
    };

   //切换up或左
    behaviors {
        gswitch2: hold_tap_gswitch2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&toscrollup>, <&toscrollleft>;
        };
    };
   //读微信信息和更多信息
    behaviors {
        readwxmsgandmore: hold_tap_readwxmsgandmore {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&toreadwxmsg>, <&toreadmorewxmsg>;
        };
    };
    
    behaviors {
    sl_mo: behavior_sl_mo {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "hold-preferred";      
        tapping-term-ms = <450>;       
        bindings = <&mo &sl>;          /* hold=MO, tap=SL */
        };
    };

    behaviors {
        tdc_to_MEDIA: td_rclk_to_medialayer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&to MEDIA>;
        };
    };

    behaviors {
        tdc_leftorright: td_lclk_leftorright {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&toscrollleft>, <&toscrollright>;
        };
    };

    behaviors {
        tdc_rollpanel: td_alt_rollpanel {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&torolltoolpanel>, <&torollmsgpanel>;
        };
    };

    behaviors {
        tdc_clickortapinput: td_left_clickortapinput {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mkp LCLK>, <&totapinputbar>;
        };
    };

    behaviors {
        tdc_tomediaortapsend: td_right_tomediaortapsend {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&to MEDIA>, <&totapsentbutton>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

                 &tdc_clickortapinput                                                                                          &tdc_tomediaortapsend
    &gswitch1                 &gswitch2                            &mkp LCLK                          &mt ESC K_BACK                    &readwxmsgandmore
    &kp Q        &kp W      &kp E       &kp R     &kp T         &kp Y             &kp U            &kp I            &kp O            &kp P
    &kp A        &kp S      &kp D       &kp F     &kp G         &kp H             &kp J            &kp K            &kp L            &kp BSPC
    &kp LSHFT    &kp Z      &kp X       &kp C     &kp V         &kp B             &kp N            &kp M            &tdc_to_SYM      &kp ENTER
    &kp LCTRL               &mt N0 LALT                         &kp SPACE                          &sl_mo 1 1                        &sl_mo 2 2
            >;
        };


        sym_layer {

            bindings = <        
                 &kp C_VOL_UP                                                                                       &kp C_VOL_DN
    &kp LC(A)               &kp LC(C)                     &mkp LCLK                          &kp LC(X)                            &kp LC(V) 
    &kp HASH     &kp N1     &kp N2      &kp N3    &mt LBKT LPAR      &mt RBKT RPAR     &kp UNDER        &kp MINUS        &kp PLUS         &kp AT
    &kp STAR     &kp N4     &kp N5      &kp N6    &mt BSLH SLASH     &kp COLON         &kp SEMI         &kp APOS         &kp DQT          &kp BSPC
    &kp LSHFT    &kp N7     &kp N8      &kp N9    &kp QMARK          &kp EXCL          &kp COMMA        &kp DOT          &mt C_MUTE DLLR  &kp ENTER
    &kp LCTRL               &kp N0                              &kp SPACE                          &to DEFAULT                       &sl_mo 2 2
            >;
        };

        upper_layer {

            bindings = <
                 &winieback                                                                                       &winieforward
    &kp LC(T)            &kp LC(R)                             &mkp LCLK                              &kp LC(W)                     &kp LA(F4)
    &kp LGUI       &none         &kp LC(END)      &none           &none         &none            &none        &none             &none         &mkp RCLK
    &none          &none         &none            &none           &none         &kp LC(HOME)     &none        &none             &none         &kp LA(TAB)
    &none          &none         &none            &none           &none         &none            &none        &kp LG(M)         &kp CLCK      &btswitch
    &msc SCRL_UP                      &msc SCRL_DOWN                       &kp SPACE                        &to DEFAULT                      &to DEFAULT
            >;
        };

        media_layer {

            bindings = <                 
                   &tdc_leftorright                                                                                          &to DEFAULT
           &toscrolldown                 &toscrollup                   &mkp LCLK                          &kp K_BACK                    &readwxmsgandmore
  &totapfirst          &totapsecond          &toopenappE     &toopenappR           &toopenappT         &toopenappY      &toopenappU      &toopenappI     &toopenappO         &toopenappP
  &totapthird          &totapforth           &toopenappD     &toopenappF           &toopenappG         &toopenappH      &toopenappJ      &toopenappK     &toopenappL         &toappswitchandkill
  &tdc_rollpanel       &toopenappZ           &toopenappX     &toopenappC           &toopenappV         &toopenappB      &toopenappN      &toopenappM     &kp CLCK            &btswitch
  &msc SCRL_UP                      &msc SCRL_DOWN                             &mkp LCLK                         &mt UP LEFT                     &mt DOWN RIGHT
            >;
        };

        kill_layer {

            bindings = <
                 &none                                                                                       &none
    &tocloseapp1            &tocloseapp2                             &backtomedia                              &tocloseapp3                     &tocloseapp4
    &none          &none         &none            &none           &none         &none            &none        &none             &none         &none
    &none          &none         &none            &none           &none         &none            &none        &none             &none         &toopenappM
    &none          &none         &none            &none           &none         &none            &none        &none             &none         &none
    &none                      &none                       &none                        &none                      &none
            >;
        };

    };
};





















































































